<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Favorite Weapons</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Home</a>
    <a class="navbar-brand" href="/loadouts">Loadouts</a>
    <a class="navbar-brand" href="/favorites">Favorites</a>
    <a class="navbar-brand ml-auto" href="/logout">Logout</a>
  </nav>
  <div class="container mt-4">
    <h1 class="text-white">Favorite Weapons</h1>
    <div class="row">
      <% weaponsArr.forEach((weapon, index) => { %>
        <div class="col-md-3 mb-4 weapon-card" style="display: none;">
          <div class="card h-100">
            <img src="<%= weapon.icon %>" class="weapon-icon card-img-top" alt="<%= weapon.name %>">
            <div class="card-body">
              <h4 class="card-title"><%= weapon.name %></h4>
              <h5 class="card-subtitle mb-2"><%= weapon.weaponType %></h5>
              <p class="card-text">Ammo: 
                <% if (weapon.ammoType === 1) { %>
                  Primary
                <% } else if (weapon.ammoType === 2) { %>
                  Special
                <% } else if (weapon.ammoType === 3) { %>
                  Heavy
                <% } %>
              </p>
              <div class="card-buttons">
                <a class="btn btn-sm btn-info" href="/api/destiny/<%= weapon.hash %>">Details</a>
                <button class="btn btn-sm btn-warning" onclick="addToFavorites('<%= weapon.name %>', '<%= weapon.hash %>', '<%= weapon.loreHash %>', '<%= weapon.icon %>', '<%= weapon.weaponType %>', '<%= weapon.ammoType %>')">Favorites</button>
                <button class="btn btn-sm btn-success" onclick="addWeaponToLoadout('<%= weapon.name %>', '<%= weapon.hash %>', '<%= weapon.loreHash %>', '<%= weapon.icon %>', '<%= weapon.weaponType %>', '<%= weapon.ammoType %>')">Loadout</button>
              </div>
            </div>
          </div>
        </div>
        <% if ((index + 1) % 4 === 0) { %>
          </div><div class="row">
        <% } %>
      <% }); %>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/scripts/script.js"></script>
</body>
</html>